<div id="<%= dom_id script %>">
  <p>
    <strong>Text:</strong>
    <%= script.text %>
  </p>
  <p>
    <%= link_to "Download", rails_blob_path(script.doc, disposition: 'attachment') %>
  </p>

</div>
